@font-face {
    font-family: 'formulaOneRegular';
    src: url(../fonts/Formula1-Regular.woff2);
}

@font-face {
    font-family: 'formulaOneBold';
    src: url(../fonts/Formula1-Bold.woff2);
}

@font-face {
    font-family: 'formulaOneItalic';
    src: url(../fonts/Formula1-Italic.woff2);
}

@font-face {
    font-family: 'formulaOneWide';
    src: url(../fonts/Formula1-Wide.woff2);
}

html {
    background-color: red;
}

body {
    background-blend-mode: linear-gradient(red, black);
    margin: 0;
    overflow-x: hidden;
    width: 100vw;
}

/***************************************************
this is the header css
***************************************************/

header {
    background: red;
    height: 10vh;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

.nav_bar {
    margin: 0 auto;
    width: 100vw;
    height: 10vh;
}

.logo {
    position: relative;
    top: 3vh;
    left: -6vw;
    width: 10vw;
    padding-left: 10vw;

    transition: all ease-in-out 250ms;
}

.logo:hover {
    filter: invert(100%);
}

nav {
    float: right;
    padding-right: 5vw;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-left: 2vw;
    padding-top: 8vh;
    padding-bottom: 3vh;

    position: relative;
}

nav a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: .8vw;
    font-family: 'formulaOneRegular';
    transition: all ease-in-out 250ms;
}

nav a:hover {
    color: black;
}

nav a::before {
    content: '';
    display: block;
    height: .3vh;
    background-color: black;

    position: absolute;
    top: 7vh;
    width: 0%;
    transition: all ease-in-out 250ms;
}

nav a:hover::before {
    width: 100%;
}

/***************************************************
Everything else
***************************************************/

h1 {
    font-family: "FormulaOneBold";
    font-size: large;
    padding-top: 5vh;
    padding-left: 2vw;
}

p {
    font-family: "FormulaOneBold";
    font-size: large;
    padding-top: 5vh;
    padding-left: 2vw;
}

select {
    
    position: relative;
    left: 2vw;

    background-color: white;
    outline: none;
    border: none;
    height: 5vh;
}

input {
    position: relative;
    left: 2vw;

    background-color: white;
    outline: none;
    border: none;
    height: 5vh;
}